# Venture Funding with Deep Learning

You work as a risk management associate at Alphabet Soup, a venture capital firm. Alphabet Soup’s business team receives many funding applications from startups every day. This team has asked you to help them create a model that predicts whether applicants will be successful if funded by Alphabet Soup.

The business team has given you a CSV containing more than 34,000 organizations that have received funding from Alphabet Soup over the years. With your knowledge of machine learning and neural networks, you decide to use the features in the provided dataset to create a binary classifier model that will predict whether an applicant will become a successful business. The CSV file contains a variety of information about these businesses, including whether or not they ultimately became successful.

## Instructions:

The steps for this challenge are broken out into the following sections:

* Prepare the data for use on a neural network model.

* Compile and evaluate a binary classification model using a neural network.

* Optimize the neural network model.

### Prepare the Data for Use on a Neural Network Model 

Using your knowledge of Pandas and scikit-learn’s `StandardScaler()`, preprocess the dataset so that you can use it to compile and evaluate the neural network model later.

Open the starter code file, and complete the following data preparation steps:

1. Read the `applicants_data.csv` file into a Pandas DataFrame. Review the DataFrame, looking for categorical variables that will need to be encoded, as well as columns that could eventually define your features and target variables.   

2. Drop the “EIN” (Employer Identification Number) and “NAME” columns from the DataFrame, because they are not relevant to the binary classification model.
 
3. Encode the dataset’s categorical variables using `OneHotEncoder`, and then place the encoded variables into a new DataFrame.

4. Add the original DataFrame’s numerical variables to the DataFrame containing the encoded variables.

> **Note** To complete this step, you will employ the Pandas `concat()` function that was introduced earlier in this course. 

5. Using the preprocessed data, create the features (`X`) and target (`y`) datasets. The target dataset should be defined by the preprocessed DataFrame column “IS_SUCCESSFUL”. The remaining columns should define the features dataset. 

6. Split the features and target sets into training and testing datasets.

7. Use scikit-learn's `StandardScaler` to scale the features data.

### Compile and Evaluate a Binary Classification Model Using a Neural Network

Use your knowledge of TensorFlow to design a binary classification deep neural network model. This model should use the dataset’s features to predict whether an Alphabet Soup&ndash;funded startup will be successful based on the features in the dataset. Consider the number of inputs before determining the number of layers that your model will contain or the number of neurons on each layer. Then, compile and fit your model. Finally, evaluate your binary classification model to calculate the model’s loss and accuracy. 
 
To do so, complete the following steps:

1. Create a deep neural network by assigning the number of input features, the number of layers, and the number of neurons on each layer using Tensorflow’s Keras.

> **Hint** You can start with a two-layer deep neural network model that uses the `relu` activation function for both layers.

2. Compile and fit the model using the `binary_crossentropy` loss function, the `adam` optimizer, and the `accuracy` evaluation metric.

> **Hint** When fitting the model, start with a small number of epochs, such as 20, 50, or 100.

3. Evaluate the model using the test data to determine the model’s loss and accuracy.

4. Save and export your model to an HDF5 file, and name the file `AlphabetSoup.h5`. 

### Optimize the Neural Network Model

Using your knowledge of TensorFlow and Keras, optimize your model to improve the model's accuracy. Even if you do not successfully achieve a better accuracy, you'll need to demonstrate at least two attempts to optimize the model. You can include these attempts in your existing notebook. Or, you can make copies of the starter notebook in the same folder, rename them, and code each model optimization in a new notebook. 

> **Note** You will not lose points if your model does not achieve a high accuracy, as long as you make at least two attempts to optimize the model.

To do so, complete the following steps:

1. Define at least three new deep neural network models (the original plus 2 optimization attempts). With each, try to improve on your first model’s predictive accuracy.

> **Rewind** Recall that perfect accuracy has a value of 1, so accuracy improves as its value moves closer to 1. To optimize your model for a predictive accuracy as close to 1 as possible, you can use any or all of the following techniques:
>
> * Adjust the input data by dropping different features columns to ensure that no variables or outliers confuse the model.
>
> * Add more neurons (nodes) to a hidden layer.
>
> * Add more hidden layers.
>
> * Use different activation functions for the hidden layers.
>
> * Add to or reduce the number of epochs in the training regimen.

2. After finishing your models, display the accuracy scores achieved by each model, and compare the results.

3. Save each of your models as an HDF5 file.

In [1]:
# Imports
import pandas as pd
import numpy as np
from pathlib import Path
import matplotlib.pyplot as plt
%matplotlib
import warnings
warnings.filterwarnings("ignore")
import tensorflow as tf
from tensorflow.keras.layers import Dense
from tensorflow.keras.models import Sequential
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,OneHotEncoder

Using matplotlib backend: <object object at 0x000001D2A08E5140>

---

## Prepare the data to be used on a neural network model

### Step 1: Read the `applicants_data.csv` file into a Pandas DataFrame. Review the DataFrame, looking for categorical variables that will need to be encoded, as well as columns that could eventually define your features and target variables.

In [2]:
# Read the applicants_data.csv file from the Resources folder into a Pandas DataFrame
Path = "C:\\Users\\eszczepalink\\Downloads\\Starter_Code\\Starter_Code\\Resources/"
applicant_data_df = pd.read_csv(Path + "applicants_data.csv")

# Review the DataFrame
display(applicant_data_df.head(2))
display(applicant_data_df.tail(2))

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
34297,996015768,AMERICAN FEDERATION OF GOVERNMENT EMPLOYEES LO...,T5,Independent,C3000,ProductDev,Association,1,0,N,5000,1
34298,996086871,WATERHOUSE CHARITABLE TR,T3,Independent,C1000,Preservation,Co-operative,1,1M-5M,N,36500179,0

In [3]:
# Review the data types associated with the columns
applicant_data_df.dtypes

EIN                        int64
NAME                      object
APPLICATION_TYPE          object
AFFILIATION               object
CLASSIFICATION            object
USE_CASE                  object
ORGANIZATION              object
STATUS                     int64
INCOME_AMT                object
SPECIAL_CONSIDERATIONS    object
ASK_AMT                    int64
IS_SUCCESSFUL              int64
dtype: object

### Step 2: Drop the “EIN” (Employer Identification Number) and “NAME” columns from the DataFrame, because they are not relevant to the binary classification model.

In [4]:
# Drop the 'EIN' and 'NAME' columns from the DataFrame
applicant_data_df = applicant_data_df.drop(columns=['EIN', 'NAME'],axis=1)

# Review the DataFrame
applicant_data_df

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1
...,...,...,...,...,...,...,...,...,...,...
34294,T4,Independent,C1000,ProductDev,Association,1,0,N,5000,0
34295,T4,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
34296,T3,CompanySponsored,C2000,Preservation,Association,1,0,N,5000,0
34297,T5,Independent,C3000,ProductDev,Association,1,0,N,5000,1
34298,T3,Independent,C1000,Preservation,Co-operative,1,1M-5M,N,36500179,0

### Step 3: Encode the dataset’s categorical variables using `OneHotEncoder`, and then place the encoded variables into a new DataFrame.

In [5]:
# columns heads
applicant_data_df.columns

Index(['APPLICATION_TYPE', 'AFFILIATION', 'CLASSIFICATION', 'USE_CASE',
       'ORGANIZATION', 'STATUS', 'INCOME_AMT', 'SPECIAL_CONSIDERATIONS',
       'ASK_AMT', 'IS_SUCCESSFUL'],
      dtype='object')

In [6]:
# Create a list of categorical variables 
categorical_variables = applicant_data_df.drop(columns=["STATUS","ASK_AMT","IS_SUCCESSFUL"],axis=1)

# Display the categorical variables list
categorical_variables

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,INCOME_AMT,SPECIAL_CONSIDERATIONS
0,T10,Independent,C1000,ProductDev,Association,0,N
1,T3,Independent,C2000,Preservation,Co-operative,1-9999,N
2,T5,CompanySponsored,C3000,ProductDev,Association,0,N
3,T3,CompanySponsored,C2000,Preservation,Trust,10000-24999,N
4,T3,Independent,C1000,Heathcare,Trust,100000-499999,N
...,...,...,...,...,...,...,...
34294,T4,Independent,C1000,ProductDev,Association,0,N
34295,T4,CompanySponsored,C3000,ProductDev,Association,0,N
34296,T3,CompanySponsored,C2000,Preservation,Association,0,N
34297,T5,Independent,C3000,ProductDev,Association,0,N
34298,T3,Independent,C1000,Preservation,Co-operative,1M-5M,N

In [7]:
# Create a OneHotEncoder instance
enc = OneHotEncoder()

In [8]:
# Encode the categorcal variables using OneHotEncoder
encoded_data = enc.fit_transform(categorical_variables).toarray() 
encoded_data

array([[1., 0., 0., ..., 0., 1., 0.],
       [0., 0., 0., ..., 0., 1., 0.],
       [0., 0., 0., ..., 0., 1., 0.],
       ...,
       [0., 0., 0., ..., 0., 1., 0.],
       [0., 0., 0., ..., 0., 1., 0.],
       [0., 0., 0., ..., 0., 1., 0.]])

In [9]:
# Create a DataFrame with the encoded variables
encoded_df = pd.DataFrame(encoded_data)

# Review the DataFrame
encoded_df

,0,1,2,3,4,5,6,7,8,9,...,104,105,106,107,108,109,110,111,112,113
0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34294,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34295,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34296,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34297,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34298,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0

### Step 4: Add the original DataFrame’s numerical variables to the DataFrame containing the encoded variables.

> **Note** To complete this step, you will employ the Pandas `concat()` function that was introduced earlier in this course.

In [10]:
# Add the numerical variables from the original DataFrame to the one-hot encoding DataFrame
encoded_df = pd.concat([encoded_df,applicant_data_df[["STATUS","ASK_AMT","IS_SUCCESSFUL"]]],axis=1)

# Review the Dataframe
encoded_df

,0,1,2,3,4,5,6,7,8,9,...,107,108,109,110,111,112,113,STATUS,ASK_AMT,IS_SUCCESSFUL
0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1,5000,1
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1,108590,1
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1,5000,0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1,6692,1
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1,142590,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34294,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1,5000,0
34295,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1,5000,0
34296,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1,5000,0
34297,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1,5000,1
34298,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1,36500179,0

In [11]:
# check if there is nan after concatenation 
np.sum(np.isnan(encoded_df))

0                0
1                0
2                0
3                0
4                0
                ..
112              0
113              0
STATUS           0
ASK_AMT          0
IS_SUCCESSFUL    0
Length: 117, dtype: int64

In [12]:
# display data
encoded_df.describe()

,0,1,2,3,4,5,6,7,8,9,...,107,108,109,110,111,112,113,STATUS,ASK_AMT,IS_SUCCESSFUL
count,34299.000000,34299.000000,34299.000000,34299.000000,34299.000000,34299.000000,34299.000000,34299.000000,34299.000000,34299.000000,...,34299.000000,34299.000000,34299.000000,34299.000000,34299.000000,34299.000000,34299.000000,34299.000000,3.429900e+04,34299.000000
mean,0.015394,0.000787,0.001924,0.000087,0.000058,0.000029,0.031050,0.000466,0.000087,0.000058,...,0.006997,0.027843,0.109245,0.004053,0.005394,0.999213,0.000787,0.999854,2.769199e+06,0.532406
std,0.123116,0.028046,0.043825,0.009352,0.007636,0.005400,0.173457,0.021594,0.009352,0.007636,...,0.083358,0.164526,0.311951,0.063532,0.073245,0.028046,0.028046,0.012073,8.713045e+07,0.498956
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,5.000000e+03,0.000000
25%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,1.000000,5.000000e+03,0.000000
50%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,1.000000,5.000000e+03,1.000000
75%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,1.000000,7.742000e+03,1.000000
max,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,8.597806e+09,1.000000

### Step 5: Using the preprocessed data, create the features (`X`) and target (`y`) datasets. The target dataset should be defined by the preprocessed DataFrame column “IS_SUCCESSFUL”. The remaining columns should define the features dataset.

In [13]:
# Define the target set y using the IS_SUCCESSFUL column
y = encoded_df[["IS_SUCCESSFUL"]]

# Display a sample of y
y.head()

   IS_SUCCESSFUL
0              1
1              1
2              0
3              1
4              1

In [14]:
# Define features set X by selecting all columns but IS_SUCCESSFUL
X = encoded_df.drop(columns = "IS_SUCCESSFUL")

# Review the features DataFrame
X.head()

,0,1,2,3,4,5,6,7,8,9,...,106,107,108,109,110,111,112,113,STATUS,ASK_AMT
0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1,5000
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1,108590
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1,5000
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1,6692
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1,142590

### Step 6: Split the features and target sets into training and testing datasets.

In [15]:
# Split the preprocessed data into a training and testing dataset
# Assign the function a random_state equal to 1
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)

### Step 7: Use scikit-learn's `StandardScaler` to scale the features data.

In [16]:
# Create a StandardScaler instance
scaler = StandardScaler()

# Fit the scaler to the features training dataset
X_scaler = scaler.fit(X_train)

# Fit the scaler to the features training dataset
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

---

## Compile and Evaluate a Binary Classification Model Using a Neural Network

### Step 1: Create a deep neural network by assigning the number of input features, the number of layers, and the number of neurons on each layer using Tensorflow’s Keras.

> **Hint** You can start with a two-layer deep neural network model that uses the `relu` activation function for both layers.

In [17]:
# Define the the number of inputs (features) to the model
number_input_features = X.shape[1]

# Review the number of features
number_input_features

116

In [18]:
# Define the number of neurons in the output layer
number_output_neurons = y.shape[1]
number_output_neurons

1

In [19]:
# Define the number of hidden nodes for the first hidden layer
hidden_nodes_layer1 = X_train_scaled.shape[1]

# Review the number hidden nodes in the first layer
hidden_nodes_layer1

116

In [20]:
# Define the number of hidden nodes for the second hidden layer
hidden_nodes_layer2 =  X_test_scaled.shape[1]

# Review the number hidden nodes in the second layer
hidden_nodes_layer2

116

In [48]:
# Create the Sequential model instance
nn = Sequential()

In [49]:
# Add the first hidden layer
nn.add(Dense(units=116,input_dim = X.shape[1], activation='relu'))

In [50]:
# Add the second hidden layer
nn.add(Dense(units=116,activation='relu'))

In [51]:
# Add the output layer to the model specifying the number of output neurons and activation function
nn.add(Dense(1,activation='sigmoid'))

In [52]:
# Display the Sequential model summary
nn.summary()

Model: "sequential_3"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_8 (Dense)             (None, 116)               13572

 dense_9 (Dense)             (None, 116)               13572

 dense_10 (Dense)            (None, 1)                 117

=================================================================
Total params: 27,261
Trainable params: 27,261
Non-trainable params: 0
_________________________________________________________________

### Step 2: Compile and fit the model using the `binary_crossentropy` loss function, the `adam` optimizer, and the `accuracy` evaluation metric.

In [53]:
# Compile the Sequential model
nn.compile(loss="binary_crossentropy",
          optimizer="adam",
          metrics = ["accuracy"])

In [54]:
# Fit the model using 50 epochs and the training data
model = nn.fit(X_train_scaled,y_train,epochs=50,
              validation_data=(X_test_scaled, y_test))

Epoch 1/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5745 - accuracy: 0.7228 - val_loss: 0.5662 - val_accuracy: 0.7266
Epoch 2/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5546 - accuracy: 0.7299 - val_loss: 0.5574 - val_accuracy: 0.7284
Epoch 3/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5495 - accuracy: 0.7307 - val_loss: 0.5564 - val_accuracy: 0.7310
Epoch 4/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5470 - accuracy: 0.7326 - val_loss: 0.5589 - val_accuracy: 0.7269
Epoch 5/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5456 - accuracy: 0.7334 - val_loss: 0.5535 - val_accuracy: 0.7313
Epoch 6/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5441 - accuracy: 0.7338 - val_loss: 0.5589 - val_accuracy: 0.7290
Epoch 7/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5439 - accuracy: 0.7340 - val_loss: 0.5527 - val_accuracy: 0.7300
Epoch 8/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5425 - accuracy: 0.7348 - val_loss: 0.5566 - val_accuracy: 0.7287
Epoch 9/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5415 - accuracy: 0.7358 - val_loss: 0.5517 - val_accuracy: 0.7314
Epoch 10/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5406 - accuracy: 0.7368 - val_loss: 0.5600 - val_accuracy: 0.7257
Epoch 11/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5402 - accuracy: 0.7361 - val_loss: 0.5542 - val_accuracy: 0.7292
Epoch 12/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5400 - accuracy: 0.7372 - val_loss: 0.5501 - val_accuracy: 0.7305
Epoch 13/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5392 - accuracy: 0.7369 - val_loss: 0.5508 - val_accuracy: 0.7305
Epoch 14/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5395 - accuracy: 0.7375 - val_loss: 0.5538 - val_accuracy: 0.7304
Epoch 15/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5384 - accuracy: 0.7383 - val_loss: 0.5538 - val_accuracy: 0.7252
Epoch 16/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5382 - accuracy: 0.7374 - val_loss: 0.5506 - val_accuracy: 0.7307
Epoch 17/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5373 - accuracy: 0.7380 - val_loss: 0.5512 - val_accuracy: 0.7307
Epoch 18/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5371 - accuracy: 0.7388 - val_loss: 0.5539 - val_accuracy: 0.7291
Epoch 19/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5368 - accuracy: 0.7388 - val_loss: 0.5559 - val_accuracy: 0.7314
Epoch 20/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5365 - accuracy: 0.7392 - val_loss: 0.5522 - val_accuracy: 0.7312
Epoch 21/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5363 - accuracy: 0.7389 - val_loss: 0.5536 - val_accuracy: 0.7299
Epoch 22/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5355 - accuracy: 0.7389 - val_loss: 0.5525 - val_accuracy: 0.7292
Epoch 23/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5359 - accuracy: 0.7398 - val_loss: 0.5537 - val_accuracy: 0.7301
Epoch 24/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5352 - accuracy: 0.7401 - val_loss: 0.5572 - val_accuracy: 0.7286
Epoch 25/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5352 - accuracy: 0.7392 - val_loss: 0.5514 - val_accuracy: 0.7280
Epoch 26/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5348 - accuracy: 0.7401 - val_loss: 0.5533 - val_accuracy: 0.7308
Epoch 27/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5343 - accuracy: 0.7407 - val_loss: 0.5541 - val_accuracy: 0.7273
Epoch 28/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5339 - accuracy: 0.7404 - val_loss: 0.5544 - val_accuracy: 0.7292
Epoch 29/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5340 - accuracy: 0.7406 - val_loss: 0.5562 - val_accuracy: 0.7313
Epoch 30/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5339 - accuracy: 0.7411 - val_loss: 0.5541 - val_accuracy: 0.7299
Epoch 31/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5331 - accuracy: 0.7412 - val_loss: 0.5546 - val_accuracy: 0.7289
Epoch 32/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5333 - accuracy: 0.7404 - val_loss: 0.5604 - val_accuracy: 0.7308
Epoch 33/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5336 - accuracy: 0.7413 - val_loss: 0.5558 - val_accuracy: 0.7298
Epoch 34/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5327 - accuracy: 0.7415 - val_loss: 0.5557 - val_accuracy: 0.7306
Epoch 35/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5323 - accuracy: 0.7414 - val_loss: 0.5593 - val_accuracy: 0.7297
Epoch 36/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5331 - accuracy: 0.7412 - val_loss: 0.5594 - val_accuracy: 0.7301
Epoch 37/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5323 - accuracy: 0.7409 - val_loss: 0.5553 - val_accuracy: 0.7296
Epoch 38/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5322 - accuracy: 0.7406 - val_loss: 0.5560 - val_accuracy: 0.7306
Epoch 39/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5319 - accuracy: 0.7420 - val_loss: 0.5545 - val_accuracy: 0.7310
Epoch 40/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5313 - accuracy: 0.7421 - val_loss: 0.5563 - val_accuracy: 0.7304
Epoch 41/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5311 - accuracy: 0.7406 - val_loss: 0.5532 - val_accuracy: 0.7311
Epoch 42/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5314 - accuracy: 0.7416 - val_loss: 0.5541 - val_accuracy: 0.7312
Epoch 43/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5314 - accuracy: 0.7415 - val_loss: 0.5549 - val_accuracy: 0.7307
Epoch 44/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5310 - accuracy: 0.7420 - val_loss: 0.5578 - val_accuracy: 0.7305
Epoch 45/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5308 - accuracy: 0.7419 - val_loss: 0.5557 - val_accuracy: 0.7315
Epoch 46/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5309 - accuracy: 0.7411 - val_loss: 0.5573 - val_accuracy: 0.7306
Epoch 47/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5304 - accuracy: 0.7421 - val_loss: 0.5553 - val_accuracy: 0.7299
Epoch 48/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5305 - accuracy: 0.7424 - val_loss: 0.5628 - val_accuracy: 0.7304
Epoch 49/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5314 - accuracy: 0.7420 - val_loss: 0.5632 - val_accuracy: 0.7306
Epoch 50/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5299 - accuracy: 0.7422 - val_loss: 0.5592 - val_accuracy: 0.7303

### Step 3: Evaluate the model using the test data to determine the model’s loss and accuracy.

In [55]:
# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.5592 - accuracy: 0.7303 - 244ms/epoch - 911us/step
Loss: 0.5591760277748108, Accuracy: 0.7302623987197876

In [56]:
model_loss = pd.DataFrame(model.history).head()
model_loss

       loss  accuracy  val_loss  val_accuracy
0  0.574523  0.722788  0.566162      0.726647
1  0.554635  0.729902  0.557382      0.728396
2  0.549506  0.730718  0.556431      0.730962
3  0.546962  0.732623  0.558886      0.726880
4  0.545584  0.733440  0.553510      0.731312

In [57]:
plt.plot(model_loss['loss'])
plt.plot(model_loss['val_loss'])
plt.title("loss functions")
plt.legend(['loss',"val loss"])

### Step 4: Save and export your model to an HDF5 file, and name the file `AlphabetSoup.h5`.

In [31]:
pwd

'C:\\Users\\eszczepalink\\Downloads\\Starter_Code\\Starter_Code'

In [32]:
# Set the model's file path
nn_json = nn.to_json()
with open("C:/Users/eszczepalink/Downloads/Starter_Code/Starter_Code/model_nn.json", "w") as json_file:
    json_file.write(nn_json)

# Export your model to a HDF5 file
nn.save("C:/Users/eszczepalink/Downloads/Starter_Code/Starter_Code/model_nn.h5")

In [76]:
from tensorflow.keras.models import model_from_json

In [77]:
with open("C:/Users/eszczepalink/Downloads/Starter_Code/Starter_Code/model_nn.json", "r") as json_file:
    model_nn_json = json_file.read()
    
loaded_model = model_from_json(model_nn_json)

In [79]:
loaded_model.load_weights("C:/Users/eszczepalink/Downloads/Starter_Code/Starter_Code/model_nn.h5")

In [83]:
encoded_df['predictions'] = loaded_model.predict(X)

1072/1072 [==============================] - 1s 747us/step

In [84]:
encoded_df.head()

,0,1,2,3,4,5,6,7,8,9,...,108,109,110,111,112,113,STATUS,ASK_AMT,IS_SUCCESSFUL,predictions
0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,1,5000,1,0.546884
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,1,108590,1,0.546884
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,1,5000,0,0.546884
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,1,6692,1,0.546884
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,1,142590,1,0.546884

---

## Optimize the neural network model

### Step 1: Define at least three new deep neural network models (resulting in the original plus 3 optimization attempts). With each, try to improve on your first model’s predictive accuracy.

> **Rewind** Recall that perfect accuracy has a value of 1, so accuracy improves as its value moves closer to 1. To optimize your model for a predictive accuracy as close to 1 as possible, you can use any or all of the following techniques:
>
> * Adjust the input data by dropping different features columns to ensure that no variables or outliers confuse the model.
>
> * Add more neurons (nodes) to a hidden layer.
>
> * Add more hidden layers.
>
> * Use different activation functions for the hidden layers.
>
> * Add to or reduce the number of epochs in the training regimen.

### Alternative Model 1

In [58]:
# Define the the number of inputs (features) to the model
number_input_features = len(X_train.iloc[0])

# Review the number of features
number_input_features

116

In [59]:
# Define the number of neurons in the output layer
number_output_neurons_A1 = y.shape[1]
number_output_neurons_A1

1

In [60]:
# Define the number of hidden nodes for the first hidden layer
hidden_nodes_layer1_A1 = X_train_scaled.shape[1]

# Review the number of hidden nodes in the first layer
hidden_nodes_layer1_A1

116

In [61]:
# Create the Sequential model instance
nn_A1 = Sequential()

In [62]:
# First hidden layer
nn_A1.add(Dense(units=116,input_dim = X.shape[1], activation='relu'))

nn_A1.add(Dense(units=116, activation='relu'))

nn_A1.add(Dense(units=116, activation='relu'))



# Output layer
nn_A1.add(Dense(1,activation='softmax'))


# Check the structure of the model
nn_A1.summary()

Model: "sequential_4"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_11 (Dense)            (None, 116)               13572

 dense_12 (Dense)            (None, 116)               13572

 dense_13 (Dense)            (None, 116)               13572

 dense_14 (Dense)            (None, 1)                 117

=================================================================
Total params: 40,833
Trainable params: 40,833
Non-trainable params: 0
_________________________________________________________________

In [63]:
# Compile the Sequential model
nn_A1.compile(loss="mean_squared_error",
          optimizer="adam",
          metrics = ["mse"])

In [64]:
# Fit the model using 50 epochs and the training data
fit_model_A1 =nn_A1.fit(X_train_scaled,y_train,epochs=20,
                       validation_data=(X_test, y_test))

Epoch 1/20
804/804 [==============================] - 2s 2ms/step - loss: 0.4665 - mse: 0.4665 - val_loss: 0.4708 - val_mse: 0.4708
Epoch 2/20
804/804 [==============================] - 1s 2ms/step - loss: 0.4665 - mse: 0.4665 - val_loss: 0.4708 - val_mse: 0.4708
Epoch 3/20
804/804 [==============================] - 1s 2ms/step - loss: 0.4665 - mse: 0.4665 - val_loss: 0.4708 - val_mse: 0.4708
Epoch 4/20
804/804 [==============================] - 1s 2ms/step - loss: 0.4665 - mse: 0.4665 - val_loss: 0.4708 - val_mse: 0.4708
Epoch 5/20
804/804 [==============================] - 1s 2ms/step - loss: 0.4665 - mse: 0.4665 - val_loss: 0.4708 - val_mse: 0.4708
Epoch 6/20
804/804 [==============================] - 1s 2ms/step - loss: 0.4665 - mse: 0.4665 - val_loss: 0.4708 - val_mse: 0.4708
Epoch 7/20
804/804 [==============================] - 1s 2ms/step - loss: 0.4665 - mse: 0.4665 - val_loss: 0.4708 - val_mse: 0.4708
Epoch 8/20
804/804 [==============================] - 1s 2ms/step - loss: 0.4665 - mse: 0.4665 - val_loss: 0.4708 - val_mse: 0.4708
Epoch 9/20
804/804 [==============================] - 1s 2ms/step - loss: 0.4665 - mse: 0.4665 - val_loss: 0.4708 - val_mse: 0.4708
Epoch 10/20
804/804 [==============================] - 1s 2ms/step - loss: 0.4665 - mse: 0.4665 - val_loss: 0.4708 - val_mse: 0.4708
Epoch 11/20
804/804 [==============================] - 1s 2ms/step - loss: 0.4665 - mse: 0.4665 - val_loss: 0.4708 - val_mse: 0.4708
Epoch 12/20
804/804 [==============================] - 1s 2ms/step - loss: 0.4665 - mse: 0.4665 - val_loss: 0.4708 - val_mse: 0.4708
Epoch 13/20
804/804 [==============================] - 1s 2ms/step - loss: 0.4665 - mse: 0.4665 - val_loss: 0.4708 - val_mse: 0.4708
Epoch 14/20
804/804 [==============================] - 1s 2ms/step - loss: 0.4665 - mse: 0.4665 - val_loss: 0.4708 - val_mse: 0.4708
Epoch 15/20
804/804 [==============================] - 1s 2ms/step - loss: 0.4665 - mse: 0.4665 - val_loss: 0.4708 - val_mse: 0.4708
Epoch 16/20
804/804 [==============================] - 1s 2ms/step - loss: 0.4665 - mse: 0.4665 - val_loss: 0.4708 - val_mse: 0.4708
Epoch 17/20
804/804 [==============================] - 1s 2ms/step - loss: 0.4665 - mse: 0.4665 - val_loss: 0.4708 - val_mse: 0.4708
Epoch 18/20
804/804 [==============================] - 1s 2ms/step - loss: 0.4665 - mse: 0.4665 - val_loss: 0.4708 - val_mse: 0.4708
Epoch 19/20
804/804 [==============================] - 1s 2ms/step - loss: 0.4665 - mse: 0.4665 - val_loss: 0.4708 - val_mse: 0.4708
Epoch 20/20
804/804 [==============================] - 1s 2ms/step - loss: 0.4665 - mse: 0.4665 - val_loss: 0.4708 - val_mse: 0.4708

In [65]:
# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = nn_A1.evaluate(X_test_scaled,y_test,verbose=2)

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.4708 - mse: 0.4708 - 314ms/epoch - 1ms/step
Loss: 0.4707871675491333, Accuracy: 0.4707871675491333

#### Alternative Model 2

In [66]:
# Define the the number of inputs (features) to the model
number_input_features = len(X_train.iloc[0])

# Review the number of features
number_input_features

116

In [67]:
# Define the number of neurons in the output layer
number_output_neurons_A2 = y.shape[1]

In [68]:
# Define the number of hidden nodes for the first hidden layer
hidden_nodes_layer1_A2 = X_train_scaled.shape[1]

# Review the number of hidden nodes in the first layer
hidden_nodes_layer1_A2

116

In [69]:
# Create the Sequential model instance
nn_A2 = Sequential()

In [70]:
# First hidden layer
nn_A2.add(Dense(units=116,input_dim = X.shape[1], activation='relu'))

nn_A2.add(Dense(units=116, activation='relu'))

nn_A2.add(Dense(units=116, activation='relu'))

nn_A2.add(Dense(units=116, activation='relu'))

nn_A2.add(Dense(units=116, activation='relu'))


# Output layer
nn_A2.add(Dense(1,activation='linear'))


# Check the structure of the model
nn_A2.summary()

Model: "sequential_5"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_15 (Dense)            (None, 116)               13572

 dense_16 (Dense)            (None, 116)               13572

 dense_17 (Dense)            (None, 116)               13572

 dense_18 (Dense)            (None, 116)               13572

 dense_19 (Dense)            (None, 116)               13572

 dense_20 (Dense)            (None, 1)                 117

=================================================================
Total params: 67,977
Trainable params: 67,977
Non-trainable params: 0
_________________________________________________________________

In [71]:
# Compile the Sequential model
nn_A2.compile(loss="mean_squared_error",
          optimizer="adam",
          metrics = ["mse"])

In [72]:
# Fit the model using 50 epochs and the training data
fit_model_A2 =nn_A2.fit(X_train_scaled,y_train,epochs=20,
              validation_data=(X_test_scaled, y_test))

Epoch 1/20
804/804 [==============================] - 2s 2ms/step - loss: 0.2053 - mse: 0.2053 - val_loss: 0.1924 - val_mse: 0.1924
Epoch 2/20
804/804 [==============================] - 1s 2ms/step - loss: 0.1889 - mse: 0.1889 - val_loss: 0.1905 - val_mse: 0.1905
Epoch 3/20
804/804 [==============================] - 1s 2ms/step - loss: 0.1872 - mse: 0.1872 - val_loss: 0.1915 - val_mse: 0.1915
Epoch 4/20
804/804 [==============================] - 1s 2ms/step - loss: 0.1860 - mse: 0.1860 - val_loss: 0.1899 - val_mse: 0.1899
Epoch 5/20
804/804 [==============================] - 1s 2ms/step - loss: 0.1850 - mse: 0.1850 - val_loss: 0.1909 - val_mse: 0.1909
Epoch 6/20
804/804 [==============================] - 1s 2ms/step - loss: 0.1844 - mse: 0.1844 - val_loss: 0.1863 - val_mse: 0.1863
Epoch 7/20
804/804 [==============================] - 1s 2ms/step - loss: 0.1843 - mse: 0.1843 - val_loss: 0.1862 - val_mse: 0.1862
Epoch 8/20
804/804 [==============================] - 1s 2ms/step - loss: 0.1835 - mse: 0.1835 - val_loss: 0.1859 - val_mse: 0.1859
Epoch 9/20
804/804 [==============================] - 1s 2ms/step - loss: 0.1833 - mse: 0.1833 - val_loss: 0.1862 - val_mse: 0.1862
Epoch 10/20
804/804 [==============================] - 1s 2ms/step - loss: 0.1831 - mse: 0.1831 - val_loss: 0.1859 - val_mse: 0.1859
Epoch 11/20
804/804 [==============================] - 1s 2ms/step - loss: 0.1829 - mse: 0.1829 - val_loss: 0.1861 - val_mse: 0.1861
Epoch 12/20
804/804 [==============================] - 1s 2ms/step - loss: 0.1826 - mse: 0.1826 - val_loss: 0.1858 - val_mse: 0.1858
Epoch 13/20
804/804 [==============================] - 2s 2ms/step - loss: 0.1823 - mse: 0.1823 - val_loss: 0.1868 - val_mse: 0.1868
Epoch 14/20
804/804 [==============================] - 1s 2ms/step - loss: 0.1823 - mse: 0.1823 - val_loss: 0.1849 - val_mse: 0.1849
Epoch 15/20
804/804 [==============================] - 1s 2ms/step - loss: 0.1821 - mse: 0.1821 - val_loss: 0.1853 - val_mse: 0.1853
Epoch 16/20
804/804 [==============================] - 1s 2ms/step - loss: 0.1814 - mse: 0.1814 - val_loss: 0.1888 - val_mse: 0.1888
Epoch 17/20
804/804 [==============================] - 1s 2ms/step - loss: 0.1817 - mse: 0.1817 - val_loss: 0.1860 - val_mse: 0.1860
Epoch 18/20
804/804 [==============================] - 1s 2ms/step - loss: 0.1817 - mse: 0.1817 - val_loss: 0.1855 - val_mse: 0.1855
Epoch 19/20
804/804 [==============================] - 1s 2ms/step - loss: 0.1815 - mse: 0.1815 - val_loss: 0.1857 - val_mse: 0.1857
Epoch 20/20
804/804 [==============================] - 1s 2ms/step - loss: 0.1809 - mse: 0.1809 - val_loss: 0.1853 - val_mse: 0.1853

### Step 2: After finishing your models, display the accuracy scores achieved by each model, and compare the results.

In [73]:
print("Original Model Results")

model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

Original Model Results
268/268 - 0s - loss: 0.5592 - accuracy: 0.7303 - 235ms/epoch - 876us/step
Loss: 0.5591760277748108, Accuracy: 0.7302623987197876

In [74]:
print("Alternative Model 1 Results")

# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = nn_A1.evaluate(X_test_scaled,y_test,verbose=2)

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

Alternative Model 1 Results
268/268 - 0s - loss: 0.4708 - mse: 0.4708 - 251ms/epoch - 938us/step
Loss: 0.4707871675491333, Accuracy: 0.4707871675491333

In [75]:
print("Alternative Model 2 Results")

# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = nn_A2.evaluate(X_test_scaled,y_test,verbose=2)

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

Alternative Model 2 Results
268/268 - 0s - loss: 0.1853 - mse: 0.1853 - 251ms/epoch - 938us/step
Loss: 0.18528960645198822, Accuracy: 0.18528960645198822

### Step 3: Save each of your alternative models as an HDF5 file.

In [85]:
# Set the model's file path
nn_A1_json = nn.to_json()
with open("C:/Users/eszczepalink/Downloads/Starter_Code/Starter_Code/model_nn_A1.json", "w") as json_file:
    json_file.write(nn_A1_json)

# Export your model to a HDF5 file
nn.save("C:/Users/eszczepalink/Downloads/Starter_Code/Starter_Code/model_nn_A1.h5")

In [87]:
with open("C:/Users/eszczepalink/Downloads/Starter_Code/Starter_Code/model_nn_A1.json", "r") as json_file:
    model_nn_A1_json = json_file.read()
    
loaded_model = model_from_json(model_nn_A1_json)
loaded_model.load_weights("C:/Users/eszczepalink/Downloads/Starter_Code/Starter_Code/model_nn_A1.h5")

In [88]:
encoded_df['predictions'] = loaded_model.predict(X)
encoded_df.head()

1072/1072 [==============================] - 1s 704us/step

,0,1,2,3,4,5,6,7,8,9,...,108,109,110,111,112,113,STATUS,ASK_AMT,IS_SUCCESSFUL,predictions
0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,1,5000,1,1.021353e-33
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,1,108590,1,0.000000e+00
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,1,5000,0,8.254336e-34
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,1,6692,1,0.000000e+00
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,1,142590,1,0.000000e+00

In [89]:
# Set the model's file path
nn_A2_json = nn.to_json()
with open("C:/Users/eszczepalink/Downloads/Starter_Code/Starter_Code/model_nn_A2.json", "w") as json_file:
    json_file.write(nn_A2_json)

# Export your model to a HDF5 file
nn.save("C:/Users/eszczepalink/Downloads/Starter_Code/Starter_Code/model_nn_A2.h5")

In [90]:
with open("C:/Users/eszczepalink/Downloads/Starter_Code/Starter_Code/model_nn_A2.json", "r") as json_file:
    model_nn_A2_json = json_file.read()
    
loaded_model = model_from_json(model_nn_A2_json)
loaded_model.load_weights("C:/Users/eszczepalink/Downloads/Starter_Code/Starter_Code/model_nn_A2.h5")

In [91]:
encoded_df['predictions'] = loaded_model.predict(X)
encoded_df.head()

1072/1072 [==============================] - 1s 752us/step

,0,1,2,3,4,5,6,7,8,9,...,108,109,110,111,112,113,STATUS,ASK_AMT,IS_SUCCESSFUL,predictions
0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,1,5000,1,1.021353e-33
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,1,108590,1,0.000000e+00
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,1,5000,0,8.254336e-34
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,1,6692,1,0.000000e+00
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,1,142590,1,0.000000e+00